*.py[cod]
venv
*.swp
dist
lib
*.egg-info
*.egg
.tox
.coverage
htmlcov
build
_build
__pycache__
.ropeproject
prod.ini
webpack/
node_modules/
credentials.py
credentials.dat
config.json
pex_cache
pex_wheels
