include CHANGES.rst
include README.rst
include stiny/files.json
include stiny/credentials.dat
recursive-include stiny *.jinja2 *.js *.css *.eot *.svg *.ttf *.woff *.otf *.html *.png
prune stiny/static
