[app:main]
use = egg:stiny

pyramid.debug = false
pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en


# For beaker
session.encrypt_key = replaceme
session.validate_key = replaceme
session.secure = true

authtkt.secret = replaceme

pike.url_prefix = URL_PREFIX

google.client_id = 403790963196-mmg0f7lir89a8olv6jn6oa1mhq5v4h3d.apps.googleusercontent.com

auth.arcangeli07@gmail.com = admin
auth.mason@masonglidden.com = admin
auth.emmarion@gmail.com = admin

###
# wsgi server configuration
###

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root, boto, stiny

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_stiny]
level = DEBUG
qualname = stiny
handlers =

[logger_boto]
level = WARN
qualname = boto
handlers =

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(levelname)s %(asctime)s [%(name)s] %(message)s
; format = {"level":"%(levelname)s", "time":"%(asctime)s", "name":"%(name)s", "msg":"%(message)s"}
