[app:main]
use = egg:stiny
filter-with = security-headers

pyramid.debug = false
pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en


# For beaker
session.encrypt_key = replaceme
session.validate_key = replaceme
session.secure = true

authtkt.secret = replaceme

pike.url_prefix = URL_PREFIX

worker.door = http://localhost:9000

google.client_id = 403790963196-mmg0f7lir89a8olv6jn6oa1mhq5v4h3d.apps.googleusercontent.com
google.server_client_id = replaceme
google.server_client_secret = replaceme

twilio.auth_token = replaceme

auth.arcangeli07@gmail.com = admin
auth.mason@masonglidden.com = admin
auth.emmarion@gmail.com = admin

[filter:security-headers]
use = egg:stiny#security_headers
frame_options = DENY
xss_protection = 1; mode=block
content_type_options = nosniff

###
# wsgi server configuration
###

[uwsgi]
paste = config:%p
paste-logger = %p
socket = 127.0.0.1:3034
master = true
processes = 5
reload-mercy = 15
worker-reload-mercy = 15
max-requests = 1000
virtualenv = /envs/stiny

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root, boto, stiny

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_stiny]
level = DEBUG
qualname = stiny
handlers =

[logger_boto]
level = WARN
qualname = boto
handlers =

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(levelname)s %(asctime)s [%(name)s] %(message)s
; format = {"level":"%(levelname)s", "time":"%(asctime)s", "name":"%(name)s", "msg":"%(message)s"}
