[app:main]
use = egg:stiny
filter-with = security-headers

pyramid.debug = false
pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en


# For beaker
session.encrypt_key = {{ session.encrypt_key }}
session.validate_key = {{ session.validate_key }}
session.secure = true

authtkt.secret = {{ authtkt.secret }}

webpack.debug = false
webpack.cache_max_age = future
webpack.bundle_dir = stiny:webpack/bundles
webpack.stats_file = stiny:webpack/stats.json
webpack.static_view_name = webpack

worker.door = http://localhost:9000

google.client_id = {{ google.client_id }}
google.server_client_id = {{ google.server_client_id }}
google.server_client_secret = {{ google.server_client_secret }}
google.calendar_id = {{ google.calendar_id }}

twilio.auth_token = {{ twilio.auth_token }}

{% for email in admins -%}
auth.{{ email }} = admin
{% endfor %}
{% for email in guests -%}
auth.{{ email }} = unlock
{% endfor %}

phone_access = {{ phone_access }}

[filter:security-headers]
use = egg:stiny#security_headers
frame_options = DENY
xss_protection = 1; mode=block
content_type_options = nosniff
strict_transport_security = max-age=31536000
content_security_policy = default-src 'self'; child-src accounts.google.com; script-src 'self' apis.google.com; font-src 'self' data:; img-src 'self' data:; style-src 'unsafe-inline' 'self'

###
# wsgi server configuration
###

[uwsgi]
paste = config:%p
paste-logger = %p
socket = 127.0.0.1:3034
master = true
processes = 3
reload-mercy = 15
worker-reload-mercy = 15
max-requests = 1000
virtualenv = /envs/stiny

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root, boto, stiny

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_stiny]
level = DEBUG
qualname = stiny
handlers =

[logger_boto]
level = WARN
qualname = boto
handlers =

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(levelname)s %(asctime)s [%(name)s] %(message)s
; format = {"level":"%(levelname)s", "time":"%(asctime)s", "name":"%(name)s", "msg":"%(message)s"}
