<div class="row">
  <div class="col-xs-12 col-md-offset-4 col-md-4">
    <div class="btn-row">
      <button ng-click="unlock()" class="btn btn-remote btn-default btn-lg" ng-disabled="unlockDisabled"
        title="Briefly unlock the outer door">
        <i class="fa fa-3x fa-unlock"></i>
      </button>
      <button ng-click="ringDoorbell()" class="btn btn-remote btn-default btn-lg"
        ng-disabled="doorbellDisabled" title="Ring the doorbell">
        <i class="fa fa-3x fa-bell"></i>
      </button>
    </div>
    <div class="btn-row">
      <button ng-click="toggleParty()" class="btn btn-remote btn-default btn-lg"
        ng-class="partyMode ? 'active' : ''" ng-disabled="partyDisabled"
        title="Toggle party mode (doorbell will auto-open door)">
        <i class="fa fa-3x fa-glass"></i> <p>{{ partyMode ? 'Party time!' : '' }}</p>
      </button>
    </div>
  </div>
</div>
