<div class="row text-center">
  <div class="col-xs-6 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4 col-lg-offset-3 col-lg-3">
      <button ng-click="unlock()" class="btn btn-remote btn-default btn-lg" ng-disabled="unlockDisabled"
        title="Briefly unlock the outer door">
        <i class="fa fa-3x fa-unlock"></i>
      </button>
    </div>
    <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3" st-perm-show="admin">
      <button ng-click="toggleParty()" class="btn btn-remote btn-default btn-lg"
        ng-class="partyMode ? 'active' : ''" ng-disabled="partyDisabled"
        title="Toggle party mode (doorbell will auto-open door)">
        <i class="fa fa-3x fa-glass"></i> <p>{{ partyMode ? 'Party time!' : '' }}</p>
      </button>
    </div>
  </div>
</div>
