<div class="row">
  <div class="col-xs-5">
    <input class="form-control" type="email" placeholder="Email" ng-model="email">
    <div class="vspace10">
      <b>Unlock:</b>
      <input type="checkbox" ng-model="perms.unlock">
    </div>
    <div st-range-picker start="start" end="end"></div>
    <div class="text-right vspace10">
      <button ng-click="schedule()" class="btn btn-success" ng-disabled="scheduling">
        {{ scheduling ? '' : 'Schedule' }}
        <i class="fa fa-spinner fa-spin" ng-show="scheduling"></i>
      </button>
    </div>
  </div>
  <div class="col-xs-7">
    <div>
      <div class="well" ng-show="schedulePerms.length === 0">
        <p class="text-center text-muted">
          No users scheduled
        </p>
      </div>
      <table class="table table-striped table-bordered" ng-show="schedulePerms.length > 0">
        <thead>
          <tr>
            <th>Email</th>
            <th>Start</th>
            <th>End</th>
            <th>Permissions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="perm in schedulePerms">
            <td ng-mouseenter="mouseover = true" ng-mouseleave="mouseover = false">
              <button ng-click="remove($index)" class="btn btn-danger btn-xs" ng-class="mouseover ? '' : 'stealth'">
                <b>&times;</b>
              </button>
              {{ perm.email }}
            </td>
            <td>{{ formatDate(perm.start) }}</td>
            <td>{{ formatDate(perm.end) }}</td>
            <td>{{ perm.perms.join(', ') }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
